@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::placeholder {
    font-size: 12px;
    color: #999;
}

body{
     font-family: "Montserrat", sans-serif;
}

.blue-btn{
    background-color: #1E3A8A;
    padding: 15px 25px;
    color: white;
    border-radius: 1000px;
    font-size: 14px;
}

.white-btn{
    background-color: white;
    padding: 15px 25px;
    color: black;
    border: 1px solid #999;
    font-size: 14px;
    border-radius: 1000px;
}

.input-btn{
    background-color: white;
    color: black;
    border: 1px solid #999;
    border-radius: 1000px;
}

.decorative-font{
    font-family: "Major Mono Display", monospace;
}

.title-block{
    font-family: "Major Mono Display", monospace;
    font-size: 36px;
    text-align: center;
    margin-bottom: 45px;
}

.header-link{
    border-bottom: 4px solid #f8f8f8;
    padding: 15px 25px;
}

.footer-link{
    padding: 15px 25px;
}

.footer-link-mobile{
    padding: 5px 10px;
}

.footer-link-simple{
    padding: 10px 10px;
}

.footer-link-simple-mobile{
    padding: 5px 10px;
    font-size: 10px;

    a{
        font-size: 10px;
    }

}

.footer-link-underline{
    padding: 10px 10px;
    text-decoration: underline;
}

.footer-link-underline-mobile{
    padding: 5px 10px;
    text-decoration: underline;
    font-size: 10px;
}

.footer-link:hover{
    a{
        opacity: 0.5;
    }
}

.header-border{
    border-bottom: 1px solid #e7e7e7;
}

.header-link:hover{
    border-bottom: 4px solid #6299ff;
    padding: 15px 25px;
}

.header-link-active{
    border-bottom: 4px solid #6299ff;
    padding: 15px 25px;
}

#sidebar{
    position: fixed;
    top: 146px;
    right: 0;
    width: 320px;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    /* box-shadow: -5px 5px 5px rgba(184, 184, 184, 0.2); */
    height: calc(100% - 146px);

    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
}

.sidebar-open #sidebar {
    transform: translateX(0);
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 1040;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.sidebar-open #sidebar-overlay {
    opacity: 1;
    visibility: visible;
}

body.no-scroll {
    overflow: hidden;
}


#sidebar-mobile{
    position: fixed;
    top: 75px;
    right: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    height: calc(100% - 75px);

    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1050;

    display: none;
}
@media (max-width: 767px) {
     #sidebar-mobile {
        display: block;
     }
}

.sidebar-mobile-open #sidebar-mobile {
    transform: translateX(0);
}

#sidebar-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.sidebar-mobile-open #sidebar-mobile-overlay {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    #sidebar-mobile, #sidebar-mobile-overlay {
        display: none !important;
    }
}